version: 2
jobs:
  build:
    docker:
      - image: circleci/node:9.11
    working_directory: ~/app
    steps:
      - checkout
      - run:
          name: Update npm
          command: 'sudo npm install -g npm@latest'
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install
          command: npm install
      - run:
          name: Bundle
          command: './node_modules/.bin/webpack'
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
  lint:
    docker:
      - image: circleci/node:9.11
    steps:
      - checkout
      - run:
          name: Lint
          command: './node_modules/.bin/eslint webpack.config.js'

workflows:
  version: 2
  build_and_lint:
    jobs:
      - build
      - lint:
          requires:
            - build
